@use "../global/" as *;

@mixin inner($width: var(--inner-xl), $padding: var(--padding)) {
  margin-inline: auto;
  max-width: var(--inner-s);
  padding-inline: var(--padding-s);
  position: relative;

  @include mq() {
    max-width: calc($width + $padding * 2);
    padding-inline:$padding;
  }
}

.l-inner{
  @include inner();
}
