// css変数
:root {
  // color
  --color-main:#004986;
  --color-text: #05161A;
  --color-text2: #fff;
  --color-text3: #006492;
  --color-accent: #e8412e;
  --color-balloon:#FCEE00;

  // font-family
  --ff-main: "Zen Kaku Gothic Antique", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

  // layout
  --inner-s: 37.5rem;      //600px
  --inner-l: 60rem;        //960px
  --inner-xl: 80rem;       //1280px

  // padding
  --padding-s: 0.625rem;
  --padding: 1rem;

  // header height
  --header-pc: 4.375rem;
  --header-sp: 3.875rem;

  // ease-time
  --ease-time: 0.3s;
  // ease-type
  --ease-type: ease;

  //scroll
  --scroll-time: 0.8s;
  --scroll-type: ease-out;

  // breakpoint
  --break-xxl: 1400px;
  --break-xl: var(--inner-xl);
  --break-l: 992px;
  --break-m: 767px;
  --break-s: 576px;
}

$inner: 1280px;

// breakpoint
$breakpoints : (
  "xxl":"screen and (width >= 1400px)",
  "xl":"screen and (width >= var(--inner-xl))",
  "l":"screen and (width >= 992px)",
  "m":"screen and (width >= 768px)",
  "s":"screen and (width >= 576px)",
);

// z-index
$z-map : (loading: 10000,
  header: 1000,
  sidebar: 100,
  base: 1,
  under: -1,
);