@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-instructor {
  margin-top: 5rem;
}

.p-instructor__title {

}

.p-instructor__inner {
  width: min(100%, calc(rem(940) + 1rem * 2));
}

.p-instructor__contents {
  margin-top: 1.25rem;

  @include mq(){
    margin-top: 2.5rem;
  }
}

.p-instructor__name {
  text-align: center;
  text-decoration: underline;
  font-size: 1.25rem;

  @include mq(){
    font-size: 1.75rem;
  }
}

.p-instructor__name--eg {
  font-size: 0.75rem;
  @include mq(){
    font-size: 1.75rem;
  }
}

.p-instructor__img {
  margin-top: 1.25rem;
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  width: min(100%,rem(700));
  margin-inline: auto;
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale:1.2;
  }
}

.p-instructor__desc {
  margin-top: 1.25rem;
  color: var(--color-main);
  font-size: 0.875rem;
  line-height: math.div(22.4,14);
  width: min(100%,rem(700));
  margin-inline: auto;
}

.p-instructor__link {
  display: block;
  margin-top: rem(30);
  width: fit-content;
  margin-inline: auto;
  padding: rem(7);
  background-color: #FCEE00;
  border-radius: 50%;
}

