@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-price {
  margin-top: rem(40);
  padding-block: rem(20) rem(80);
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent url(../images/deco-price-line.svg) repeat-x center center / contain;
    width: 100%;
    height: rem(40);
  }

  @include mq() {
    margin-top: rem(80);
    padding-block: rem(45) rem(120);
  }
}

.p-price__inner {
  width: min(100%, rem(940));
}

.p-price__title {
  @include fz_clamp(2, 3);
}

.p-price__title--accent {
  color: var(--color-accent);
}

.p-price__contents {
  margin-top: 1.25rem;
}

.p-price__desc {
  border: 3px solid #FCEE00;
  padding: 1.25rem;
  width: min(100%, rem(700));
  margin-inline: auto;

  @include mq() {
    margin-top: rem(40);
  }
}

.p-price__head {
  display: block;
  border-bottom: 2px solid #fcee00;
  text-align: center;
  padding-bottom: rem(10);
  font-style: italic;
  @include fz_clamp(1.5, 2);
  color: var(--color-text3);
  font-weight: 700;

  span {
    &[data-head="first"] {
      background-color: #fab1cb;
    }

    &[data-head="trip"] {
      background-color: #aceefa;
    }

    &[data-head="learner"] {
      background-color: #befa91;
    }
  }

  @include mq() {
    padding-bottom: 0.875rem;
  }
}

.p-price__lead {
  color: var(--color-text3);
  text-align: center;
  margin-top: 1.25rem;
  @include fz_clamp(1.5, 2.25);
  width: fit-content;
  margin-inline: auto;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 19px;
    background-color: #fcf93a;
    z-index: map.get($z-map, under);
  }

}

.p-price__lead--accent {
  color: var(--color-accent);
}

.p-price__title--small {
  font-size: rem(14);
}

.p-price_list {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: rem(11.2);
}

.p-price__item {
  padding-left: rem(35);
  position: relative;
  line-height: 1.3;
  font-size: 1.125rem;
  color: var(--color-main);

  &:after {
    content: "";
    position: absolute;
    background: transparent url(../images/deco-pin.webp) no-repeat center center / cover;
    width: rem(25);
    aspect-ratio: 1;
    left: 0;
    top: 0;
  }
}

.p-price__item--accent {
  text-decoration: underline;
}

.p-price__item--second {
  text-decoration: underline;
  color: #f27e18;
}

.p-price__item--line{
  text-decoration: underline;
}