@use "../global/" as *;
@use "sass:math";
@use "sass:map";

.p-voice{
  padding-block: rem(20);
  background-color: #fff;

  @include mq(){
    padding-block: rem(40);
  }
}

.p-voice__contents{
  padding-inline: 0;
}

.p-voice__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.p-voice__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ebebeb;
  padding: 1.25rem;
  position: relative;
  gap: rem(34);

  @include mq(){
    gap: rem(20);
    flex-direction: row;
  }
}

.p-voice__label {
  position: absolute;
  top: rem(10);
  right: rem(-10);
  padding: rem(10) rem(76.3) rem(10) rem(10);
  background-color: #FCEE00;
  font-size: 0.75rem;
  color: var(--color-text3);
}

.p-voice__img {
  width: rem(150);
  img{
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .p-voice__item:last-child &{
    img{
      border-radius: 50%;
      object-fit: cover;
      object-position: center 10px;
    }
  }
}

.p-voice__text {
  font-size: 0.875rem;
  color: var(--color-main);
  line-height: math.div(22.4,14);

  @include mq(){
    font-size: 1.125rem;
    padding-top: 1.125rem;
    width: calc(100% - 1.25rem - rem(150));
  }
}
